.counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.taskcounter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 700;
  color: var(--purple-400);
}
.taskcounter > span {
  width: 2rem;
  height: 1.3rem;
  padding: 2px 8px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background: var(--gray-400);
  color: var(--gray-200);
}
.donecounter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 700;
  color: var(--purple-400);
}
.donecounter > span {
  width: fit-content;
  height: 1.3rem;
  padding: 2px 8px;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background: var(--gray-400);
  color: var(--gray-200);
}
